body{
	font-family:Calibri;
	background-color: white;
}
.content{
	position:relative;
	background-color: white;
	height:1025px;
}
.top-left-mini-header{
	position:absolute; 
	left:50px; top:0px;
}
.main-header{
	position:absolute; 
	left:29%;
}
div.main{
	width:88%;
	position:relative;
	left:10%;
	border-top:10px solid #e1b303;
}
.footer a{
	margin-right:15px;
}
.footer{
	position:absolute;
	left:25%; 
	top:750px;
	height:50px;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 680px) {			
	.content{
		top:7%;
	}
	
	.main-header{	
		position:absolute; 
		left:26%;
	}
	
	div.main{
		width:85%!important;
		position:relative;
		left:8%;

	}
}
